<div>
  <form action="" [formGroup]="myform" (ngSubmit)="submit()">
    <div>
      <label for="nombre">Nombre Completo</label>
      <input formControlName="nombre" type="text" name="nombre" id="nombre" />
    </div>
    @if(myform.controls['nombre'].getError('required') &&
    myform.controls['nombre'].touched){
    <span> Campo requerido </span>
    }
    <div>
      <label for="Correo">Correo electrónico</label>
      <input formControlName="correo" type="email" name="Correo" id="Correo" />
      @if(myform.controls['correo'].getError('required') &&
      myform.controls['correo'].touched){
      <span> Campo requerido </span>
      }
    </div>
    <div>
      <label for="Contraseña">Contraseña</label>
      <input
        formControlName="Contraseña"
        type="password"
        name="Contraseña"
        id="Contraseña"
      />
      @if(myform.controls['Contraseña'].getError('required') &&
      myform.controls['Contraseña'].touched){
      <span> Campo requerido </span>
      }
    </div>
    <div>
      <label for="Edad">Edad</label>
      <input formControlName="Edad" type="number" name="Edad" id="Edad" />
      @if(myform.controls['Edad'].getError('required') &&
      myform.controls['Edad'].touched){
      <span> Campo requerido </span>
      }
    </div>
    <div>
      <input
        type="radio"
        formControlName="genero"
        value="Femenino"
        name="genero"
        id="Femenino"
      />
      <label for="Femenino">Femenino</label>
      <input
        type="radio"
        value="Masculino"
        formControlName="genero"
        name="genero"
        id="Masculino"
      />
      <label for="Masculino">Masculino</label>
      <input
        type="radio"
        formControlName="genero"
        value="Otro"
        name="genero"
        id="Otro"
      />
      <label for="Otro">Otro</label>
      @if(myform.controls['genero'].getError('required') &&
      myform.controls['genero'].touched){
      <span> Campo requerido </span>
      }
    </div>
    <label
      ><input
        type="checkbox"
        id="cbox1"
        value="first_checkbox"
      />Noticias</label
    ><br />
    <div>
      <label for="pais">Pais</label>
      <select formControlName="pais" name="select" id="pais">
        <option value="Ecuador">Ecuador</option>
        <option value="Colombia" selected>Colombia</option>
        <option value="Venezuela">Venezuela</option>
        <option value="Peru">Peru</option>
        <option value="Mexico">Mexico</option>
      </select>
      @if(myform.controls['pais'].getError('required') &&
      myform.controls['pais'].touched){
      <span> Campo requerido </span>
      }
    </div>
    <div>
      <label for="fecha">Fecha</label>
      <input formControlName="fecha" type="date" />
      @if(myform.controls['fecha'].getError('required') &&
      myform.controls['fecha'].touched){
      <span> Campo requerido </span>
      }
    </div>
    <button [disabled]="this.myform.invalid" type="submit">Registrar</button>
  </form>
</div>

<span>
  <code>
    {{ myform.value | json }}
  </code>
  <code>
    {{ myform.status }}
  </code>
</span>
